# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Raw data 
data-raw/aphp/
data-raw/atih/
data-raw/communes/
data-raw/drees/
data-raw/earsnet/
data-raw/interventions/
data-raw/sidep/
data-raw/sivic/
data-raw/spares/*/
data-raw/who/

# Processed non-anonymous data
data/cohort_final.rda
data/cohort_19202122.rda
data/icu_cohort_final.rda
data/icu_cohort19202122.rda
data/metadata_admin.rda
data/metadata_admin_espic.rda
data/metadata_beds.rda

# Additional analyses
R/analyses/others/

# SAS functions
sas/

# Raw data management
R/analyses/0.hospital_sample_selection.R
R/analyses/1.convert_sas_db.R
R/analyses/2.patient_sample_selection.R
R/analyses/2bis.patient_sample_selection_final_cohort.R
R/analyses/3.final_numbers.R
R/analyses/4.intubation_data.R
R/analyses/4.cohort_representativity.R
R/analyses/6.save_aggregated_data.R

# Plots
plots/atlas/
plots/saint_joseph_saint_luc/
plots/pmsi_data_cleaning/
